html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #AEBF3B;
}


.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #020202;
  font-size: 16px;
  line-height: 19px;
  background: #e4e4e4;
}

.header {
  min-height: 100vh;

}

h1 {
  font-family: 'spaceagecyrillic';
  padding: 100px 0;
  font-size: 68px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

h2,
h3 {
  font-family: 'spaceagecyrillic';
  padding: 30px 0;
  text-align: center;
}

h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  width: 100%;
  color: #bdb828;
}

p {
  margin-bottom: 15px;
}

section {
  margin-bottom: 50px;
  display: flex;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

fieldset {
  margin-bottom: 20px;
}


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-top: 20px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;

}

.menu__item {

  margin: 15px 15px;
}

.menu__list-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: all .5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #AEBF3B;
  color: #AEBF3B;
}

.logo__link {
  width: 100px;
  height: 100px;
}

.dir__sec-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dir__sec-items {
  max-width: 100%;
  width: 25%;
  padding: 10px 20px;
}

.dir__sec-items:nth-child(4) {
  padding-right: 0;
}

.dir__copy-text {
  text-align: center;
}

form {
  margin-bottom: 150px;
}

/* стилі для кнопки */
.btn-class {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 3px rgba(128, 128, 128, 1),
    0px 4px rgba(118, 118, 118, 1),
    0px 5px rgba(108, 108, 108, 1),
    0px 6px rgba(98, 98, 98, 1),
    6px 7px rgba(88, 88, 88, 1),
    0px 8px rgba(78, 78, 78, 1),
    10px 14px 6px -1px rgba(128, 128, 128, 1);

  transition: all .1s ease-in-out;
  background-color: #E8E8E8;

  background-image:
    -webkit-gradient(linear, left bottom, left top,
      color-stop(50%, rgba(255, 255, 255, 0)),
      color-stop(50%, rgba(255, 255, 255, 0.3)),
      color-stop(100%, rgba(255, 255, 255, 0.2))),

    -webkit-gradient(linear, left top, right top,
      color-stop(0%, rgba(210, 210, 210, 0.3)),
      color-stop(20%, rgba(210, 210, 210, 0)),
      color-stop(80%, rgba(210, 210, 210, 0)),
      color-stop(100%, rgba(210, 210, 210, 0.3))),

    -webkit-gradient(linear, left top, right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(20%, rgba(255, 255, 255, 0.5)),
      color-stop(80%, rgba(255, 255, 255, 0.5)),
      color-stop(100%, rgba(255, 255, 255, 0))),

    -webkit-gradient(linear, 0% 100%, 100% 0%,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(40%, rgba(255, 255, 255, 0)),
      color-stop(40%, #D2D2D1),
      color-stop(60%, #D2D2D1),
      color-stop(60%, rgba(255, 255, 255, 0)),
      color-stop(100%, rgba(255, 255, 255, 0)));

  display: inline-block;
  padding: 10px 40px 10px 40px;

  color: #3A474D;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 0px 1px #fff,
    0px -1px #262F33;

}

.btn-class:hover {
  color: #AEBF3B;
  text-shadow: 0px -1px #97A63A;
  cursor: pointer;
}

.btn-class:active {
  box-shadow: 0px 3px rgba(128, 128, 128, 1),
    0px 4px rgba(118, 118, 118, 1),
    0px 5px rgba(108, 108, 108, 1),
    0px 6px rgba(98, 98, 98, 1),
    0px 7px rgba(88, 88, 88, 1),
    0px 8px rgba(78, 78, 78, 1),
    0px 10px 2px 0px rgba(128, 128, 128, .6);
  transform: translate(0, 5px);
}

/* стилі для бургер-меню */
.menu__btn {
  display: none;
}

@media (max-width:960px) {
  .menu {
    order: 1;
  }

  .menu__list {
    display: block;
    position: absolute;
    left: 0;
    background-color: #4c4b4b00;
    text-align: center;
    padding: 20px 0;
    transform: translateY(-500px);
    transition: all .5s;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
    top: 62px;
  }

  .menu__list-link {
    padding: 20px 0;
    display: block;
    border-bottom: none;
  }

  .menu__list-link:hover {
    border-bottom: none;
  }

  .menu__btn {
    display: block;
    cursor: pointer;
    width: 35px;
    height: 24px;
    border: none;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    position: relative;
  }

  .menu__btn::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000000;
    left: 0;
    top: 9px;
    margin-bottom: 20px;

  }
}

/* ще стилі для кнопки
.btn-class {
  display: inline-block;
  color: #705D07;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  width: auto;
  height: auto;
  font-size: 16px;
  padding: 10px 40px;
  background: rgba(0, 196, 244, 0.93);
  background: -o-linear-gradient(225deg, rgba(0, 196, 244, 0.93) 0%, rgba(3, 96, 120, 0.93) 100%);
  background: -moz-linear-gradient(225deg, rgba(0, 196, 244, 0.93) 0%, rgba(3, 96, 120, 0.93) 100%);
  background: -webkit-linear-gradient(225deg, rgba(0, 196, 244, 0.93) 0%, rgba(3, 96, 120, 0.93) 100%);
  background: linear-gradient(225deg, rgba(0, 196, 244, 0.93) 0%, rgba(3, 96, 120, 0.93) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c4f4", endColorstr="#036078", GradientType=1);
  text-transform: uppercase;
  transition: all .5s;
}

.btn-class:hover,
.btn-class:active {
  background-color: #fefefe;
  color: #000000;
} */