html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #520FA4;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #1B1818;
  font-size: 16px;
  line-height: 19px;
}

.header {
  background: #ffffff;
}

.title {
  font-family: 'spaceagecyrillic';
  padding: 100px 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

h2,
h3 {
  font-family: 'spaceagecyrillic';
  padding: 30px 0;
  text-align: center;
}

h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  width: 100%;
}

section {
  margin-bottom: 50px;
  display: flex;
}

.button {
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 22px;
  padding: 29px 45px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-top: 20px;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0 15px;
}

.menu__list-link {
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: all .5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #520FA4;
  font-weight: 700;
  color: #520FA4;
}

.logo__link {
  width: 100px;
  height: 100px;
}

.dir__sec-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dir__sec-items {
  max-width: 100%;
  width: 25%;
  padding: 10px 20px;
}

.dir__sec-items:nth-child(4) {
  padding-right: 0;
}

.items {
  /* width: 33,3%; */
}