body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: 20px;
}

.header_text {
    text-align: center;
}



.header_logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.main_header, .list-group {
    margin-top: 50px;
    font-size: 25px;
}

section {
    margin-top: 100px;
}
/* .row {
    display: flex;
    justify-content: center;
} */
