/*Специфікація*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
ul .menu__list-link {
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 25px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  width: 100%;
}

/* ---------------------------------------------
----------Ширина Для контейнеру, обгортки  */

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

/* .container {
  --width: calc(100% - 30px);
  --width1: 1000px;
  --width2: 1220px;
  --width3: 1400px; 
} */

/* @media (max-width:1220px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: none;
  }
} 
@media screen and (max-width: 480px) {
  .container {
    padding: 0px 15px;
  }
}

*/

/* 
-------------Змінні для Шрифтів
             Вид шрифту */

:root {
  --font-primary: "Alegreya Sans", "Trebuchet MS", Arial, sans-serif;
  --font-secondary: "Roboto", Arial, sans-serif;

}

/* --Розмір */

:root {
  --global-font-size: 16px;
  --font-sz1: 3.750em;
  /*60px*/
  --font-sz2: 1.250em;
  /*20px*/
  --font-sz3: 1.125em;
  /*18px*/
  --font-sz4: 1.000em;
  /*16px*/
  --font-sz5: 1.875em;
  /*30px*/
  --font-sz6: 3.000em;
  /*48px*/
  --font-sz7: 0.750em;
  /*12px*/
  --font-sz8: 0.875em;
  /*14px*/
  --font-sz9: 1.375em;
  /*22px*/
  --font-sz10: 1.500em;
  /*24px*/
  --font-sz11: 1.625em;
  /*26px*/
  --font-sz12: 1.750em;
  /*28px*/
  --font-sz13: 2.250em;
  /*36px*/
}

/* @media screen and (max-width: 767px) {
  :root {
    --font-sz1: 2.75rem;
    --font-sz2: 1.777rem;
    --font-sz3: 1.333rem;
    --font-sz4: 1rem;
  }
} */


/* =========Адаптивний (Резиновий) шрифт================= */


/* h1{
   font-size: calc((var(--min-font-size)) + (var(--font-size) - var(--min-font-size)) * (100vw / var(--max-width)));
 }*/

/*Де --min-font-size мінімальний розмір шрифта на мобіл,
   --font-size розмір шрифта за макетом,
   --max-width максимальний розмір макету. Наприклад,
   h1- 40px,min - 24px,
   тоді font-size: calc(24px + 16 * (100vw / 1280));*/

/* @media (max-width:767px){
  h1{
    font-size: calc((var(--min-font-size)) + ((var(--font-size) - var(--min-font-size) + ((var(--font-size) - var(--min-font-size) * 70%)) * ((100vw - var(--min-width)) / var(--max-width)))));
  }
}     */
/* Де --min-font-size мінімальний розмір екрану, на який встановлюється розмір шрифта (наприклад, мобіл 320px ) 
   h1- 40px,
   min - 24px,
   тоді font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
   */
/* @media (min-width:767px) {
   h1 {
     font-size: calc((var(--min-font-size)) + ((var(--font-size) - var(--min-font-size)) * (100vw  / var(--max-width))));
    }
  } */



/* -----------------------------------------
          Розміри 
          Для зовнішніх відступів margin */

:root {
  --margin-c: 0 auto;
  /* вирівнювання по центру */
  --margin-r: 10px;
  /* відступ з правого боку */
  --margin-l: 10px;
  /* відступ з лівого боку */
  --margin-t: 100px;
  /* відступ зверху  */
  --margin-b: 30px;
  /* відступ знизу  */

  /* -------Для внутрішніх відступів padding */

  --padding: 10px;
  /*з усіх боків*/
  --padding-r: 10px;
  /*зправа*/
}

/* -----------Змінні  для кольору var(--name)*/
:root {
  --white: #fff;
  --black: #000;
  --black2: #383838;
  --gray: #f8f2e4;
  --red: red;
  --orange: #db883c;
  --yellow: yellow;
  --green: green;
  --blue: blue;
  --brown: #412525;
}

/* ----------------------------------------------
-------Значення розмірів для: flex-basis: var(--grid-N); */

/* :root {
  --grid-1: 100%;
  --grid-2: 50%;
  --grid-3: 33.333333%;
  --grid-4: 25%;
  --grid-5: 20%;
  --grid-6: 16.6666666%;
  --grid-7: 14.2857142%;
  --grid-8: 12.5%;
  --grid-9: 11.1111111%;
  --grid-10: 10%;
  --grid-11: 9.090909%;
  --grid-12: 8.3333333%;
} */

/* -----------Для display -------------------------- */

/* ========================== */
/* .row {
  --row-disp: block;
}

@media screen and (min-width: 600px) {
  .row {
    --row-disp: flex;
  }
} */

/* =========================================== */
/* .flex-col{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
} */

/* ================Адаптивна сітка в 4 колонки (4-3-2-1) grid===== */

.grid4__contents {
  --grid-gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--grid-gap);
  grid-auto-rows: minmax(180px, auto);
  justify-items: center;
}

@media screen and (max-width: 1000px) {
  .grid4__contents {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 767px) {
  .grid4__contents {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 560px) {
  .grid4__contents {
    --grid-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: var(--grid-gap);
  }
}

/* ================Адаптивна сітка в 3 колонки (3-2-1) grid===== */
.grid3__contents {
  padding-bottom: 115px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 55px;
}

@media screen and (max-width: 1000px) {
  .grid3__contents {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .grid3__contents {
    display: block;
  }
}

/* =================================================================== */
/* Сітка flex на 2 колонки  + grid на 12 елементів у 3 колонки
  HTML 
  <div class="block2">
    <div class="grid-gall">
    </div>
    <div class="text">
    </div>
  </div> */

.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.grid-gall {
  --grid-gap: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  margin-right: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat (3, 1fr);
  grid-template-columns: repeat (3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: var(--grid-gap);
  justify-items: center;
}

/* @media screen and (max-width: 1000px) {
  .grid-gall {
    --margin-r: 20px;
    margin-right: var(--margin-r);
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
} */

@media screen and (max-width: 560px) {
  .grid-gall {
    --margin-r: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: var(--margin-r);
  }
}

@media screen and (max-width: 480px) {
  .grid-gall {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

/* ============================Грід у 6 колонок в лінію================== */

.grid6-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  .grid6-line {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .grid6-line {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

/* =================================================== */
/* --------------------------------
 Приклад для сітки flexbox,
 де у рядку кількість колонок залежить від розміру
 екрану (при адаптації 4-3-2-1)
    
 Html
 <html>
  <body>
  < div class="grid">
    <div><i></i></div>
    <div><i></i></div>
    <div><i></i></div>
    <div><i></i></div>
    <div><i></i></div>
    <div><i></i></div>
    <div><i></i></div>
    <div><i></i></div>
    <div><i></i></div>
 < !-- Повторить max число колонок вмещающихся по ширине экрана -->
    <div class="grid-boxes"></div>
    <div class="grid-boxes"></div>
    <div class="grid-boxes"></div>
  </div>
  </body>
</html>
*/
/* CSS */
/* 
.grid > div {
  --flex-basis: 270px;
  flex-grow: 1;
  flex-basis: var(--flex-basis);
  box-sizing: border-box;
  padding: 5px;
}

.grid .grid-boxes {
  --padding: 5px;
  opacity: 0;
  height: 0px;
  padding: 0;
  overflow: hidden;
  padding: var(--padding);
} */

/* --------------------------------
 Приклад для сітки у 6 колонок flexbox */

/* ::root{
   --row-display: block;
 }
.row {
  
  display: var(--row-display);
}

@media screen and (min-width: 600px) {
  .row {
    --row-display: flex;
    display: var(--row-display);
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  --col-grow: 0;
  --col-shrink: 0;
  flex-grow: var(--col-grow);
  flex-shrink: var(--col-shrink);

}

.col {
  --col-grow: 1;
  --col-shrink: 1;
  --col-basis: 100%;
  flex-grow: var(--col-grow);
  flex-shrink: var(--col-shrink);
  flex-basis:(--col-basis);
}

.col-1 {
  --col-basis: 16.66%;
  flex-basis:(--col-basis);
}

.col-2 {
  --col-basis: 33.33%;
  flex-basis:(--col-basis);
}

.col-3 {
  --col-basis: 50%;
  flex-basis:(--col-basis);
}

.col-4 {
  --col-basis: 66.66%;
  flex-basis:(--col-basis);
}

.col-5 {
  --col-basis: 83.33%;
  flex-basis:(--col-basis);
}

.col-6 {
  --col-basis: 100%;
  flex-basis:(--col-basis);
}


.row {
  display: var(--row-display);
  flex-direction: row;
  flex-wrap: wrap;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  flex-grow: var(--col-grow);
  flex-shrink: var(--col-shrink);
  flex-basis: var(--col-basis);
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #999;
  padding: 15px;
  margin: 3px 0;
  background: rgba(122, 180, 245, 0.3);
} */

/* -------------------------------
// */

/* Кількість колонок grid(N) */
/* .grid1 {
  width: calc(100% - 5px);
}

.grid2 {
  width: calc((100% - 5px) / 2);
}

.grid3 {
  width: calc((100% - 5px) / 3);
}

.grid4 {
  width: calc((100% - 5px) / 4);
}

.grid5 {
  width: calc((100% - 5px) / 5);
}

.grid6 {
  width: calc((100% - 5px) / 6);
}

.grid7 {
  width: calc((100% - 5px) / 7);
}

.grid8 {
  width: calc((100% - 5px) / 8);
}

.grid9 {
  width: calc((100% - 5px) / 9);
}

.grid10 {
  width: calc((100% - 5px) / 10);
}

.grid11 {
  width: calc((100% - 5px) / 11);
}

.grid12 {
  width: calc((100% - 5px) / 12);
} */


.bl {
  background: rgb(2, 2, 58);
}

.main {
  padding: 30px;
  flex: 1 1 auto;
}

h1 {
  font-size: 35px;
  line-height: 40px;
}

h2 {
  font-size: 25px;
  color: rgb(230, 39, 96);
}

h3 {
  font-size: 20px;
  color: rgb(196, 53, 10);
}

strong {
  font-size: 18px;
}

.btn {
  background-color: #008cba;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.search {
  padding: 5px 2px 5px 25px;
  background: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s25/search.png") no-repeat scroll 0 50%;
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: url('../jpeg_logo/icon_top.png') no-repeat;
}

blockquote {
  padding: 0 17px;
  margin: 25px 0;
  position: relative;
  background: #efefef;
  border: 1px solid #f37c13;
  border-left-color: rgb(243, 124, 19);
  border-left-style: solid;
  border-left-width: 1px;
  border-left: 18px solid #f37c13;

}

pre {
  margin-left: -.8em;
  margin-right: -.8em;
  /* padding: .6em .8em; */
  position: relative;
  background: #efefef;
}

pre[class*=language-] {
  background: #f5f2f0;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media only screen and (min-width: 60em) {

  blockquote,
  caption,
  dd,
  details,
  dl,
  fieldset,
  figure,
  hr,
  ol,
  pre,
  table {
    margin: 0 0 1.5rem;
  }
}

@media only screen and (min-width: 38em) {

  blockquote,
  caption,
  dd,
  details,
  dl,
  fieldset,
  figure,
  hr,
  ol,
  pre,
  table {
    margin: 0 0 .6rem;
  }
}

code {
  font-family: "Roboto", Arial, sans-serif;
  font-size: inherit;
}

code span {
  font-weight: 400;
  font-style: italic;
  color: #008cba;
}

code[class*=language-],
pre[class*=language-] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*=language-],
pre>code {
  display: block;
  overflow-x: auto;
  padding: 0 24px 0 0;
  width: 100%;
}


section {
  margin-top: 50px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  margin: 15px 15px;
}

.menu__list-link {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: all .5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #0ff8f4;
  color: #0ff8f4;
}

footer {
  text-align: center;
}

/* Респонсив/адаптивні стилі flex*/
.block {
  margin: 0 0 30px 0;
}

.block__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.block__item {
  background-color: #efe4e4;
  padding: 15px;
  margin-bottom: 20px;
}

.block__image {
  padding: 0 0 58% 0;
  background-color: #0ff8f4;
  margin-bottom: 10px;
}

.block__text {
  color: #000;
  line-height: 25px;
}

.block__column {
  padding: 0 10px;
  flex: 0 1 calc((100% - 20px *3) / 3);
}

/*  flex,
що застосовуються для оформлення контенту на 4 блоки */
.four-block__column {
  flex: 0 1 25%;
}

@media (max-width:910px) {
  .four-block__column {
    flex: 0 1 50%;
    flex-wrap: wrap;
  }
}

/*Респонсив/адаптивні стилі - flex,
що застосовуються для оформлення контенту на 3 блоки*/
.three-block__column {
  flex: 0 1 33.3333%;
}

@media (max-width:810px) {
  .three-block__column {
    flex: 0 1 50%;
  }

  .three-block__column.jc-center {
    margin: 0 auto;
  }
}

/*Респонсив/адаптивні стилі - flex,
що застосовуються для оформлення контенту на 2 блоки*/

.two-block__column {
  flex: 0 1 50%;
  padding: 0 15px;
}

@media (max-width:550px) {

  .four-block__column,
  .three-block__column,
  .two-block__column {
    flex: 0 1 100%;
  }
}


/*Стилі, що застосовуються для оформлення тексту*/

.ff-noserif {
  font-family: Arial, Helvetica, sans-serif;
}

.ff-serifont {
  font-family: "Times New Roman", Times, serif;
}

.ff-monospafont {
  font-family: "Courier New", Courier, monospaced;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.fontyn {
  font-style: normal;
}

.fonty-ital {
  font-style: italic;
}

.fonty-obliq {
  font-style: oblique;
}

.colorhex {
  color: #aa5588;
}

.colorkey {
  color: red;
}

.colorRGB {
  color: rgb(51, 193, 26);
}

.lineH {
  line-height: 20px;
}

.linerate {
  line-height: 180%;
}

.tt-upp {
  text-transform: uppercase;
}

.tt-lower {
  text-transform: lowercase;
}

.tt-cap {
  text-transform: capitalize;
}

.tt-none {
  text-transform: none;
}

.tt-inh {
  text-transform: inherit;
}

.td-under {
  text-decoration: underline;
}

.td-over {
  text-decoration: wavy overline lime;
}

.td-line {
  text-decoration: line-through;
}

.t-shad {
  text-shadow: 3px 5px 6px #6c9;
  font-size: 20px;
  text-transform: uppercase;
  color: #366b50;
}

.t-shad2 {
  text-shadow: 0 1px 0 #cac8c8, 0 2px 0 #c7c5c5, 0 3px 0 #bbbaba,
    0 4px 0 #b7b6b6, 0 5px 0 #a9a6a6, 0 6px 1px rgba(0, 0, 0, 0.2),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 3px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.1);
  font-size: 25px;
}

.let-spa {
  letter-spacing: 5px;
}

.w-spacing {
  word-spacing: 6px;
}

.fontbold {
  font-weight: bold;
}

/* *Стилі,
що застосовуються для оформлення тексту* */

/* стилі для h1, h2, h3 */

.titlefont {
  color: rgb(235, 235, 235);
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-shadow: rgb(125, 125, 125) -1px -1px 0px, rgb(115, 115, 115) -2px -2px 0px, rgb(105, 105, 105) -3px -3px 0px, rgb(90, 90, 90) -4px -4px 0px, rgba(20, 20, 20, 0.498039) -6px -6px 5px;
  text-align: center;

}

.titlefont2 {
  color: rgb(235, 235, 235);
  font-size: 100px;
  text-shadow: rgb(20, 20, 20) -1px 1px 0px, rgb(20, 20, 20) -2px 2px 0px, rgb(20, 20, 20) -3px 3px 0px, rgb(20, 20, 20) -4px 4px 0px, rgb(30, 30, 30) -5px 5px 0px, rgb(40, 40, 40) -6px 6px 0px, rgba(40, 40, 40, 0.901961) -7px 7px 0px, rgba(40, 40, 40, 0.8) -8px 8px 1px, rgba(40, 40, 40, 0.701961) -9px 9px 3px, rgba(40, 40, 40, 0.6) -10px 10px 4px, rgba(40, 40, 40, 0.498039) -11px 11px 5px;
  text-align: center;

}

.titlefont3 {
  text-shadow: rgba(0, 0, 0, 0.498039) -15px 15px 10px, rgba(0, 0, 0, 0.498039) 15px 15px 10px;
  text-align: center;
  color: rgb(235, 235, 235);
  font-size: 100px;
}

.titlefont4 {
  color: rgb(110, 110, 110);
  font-size: 100px;
  text-shadow: rgba(255, 0, 0, 0.2) -3px 0px 5px, rgba(0, 0, 255, 0.2) 3px 0px 5px, rgba(0, 255, 0, 0.2) 0px 3px 5px;
  text-align: center;
}

/* .titlefont4 {
  color: rgb(30, 30, 30);
  font-size: 100px;
  text-shadow: rgb(15, 15, 15) 1px -1px 0px, rgb(120, 120, 120) -1px 1px 0px;
  text-align: center;

}

.titlefont5 {
  color: rgb(30, 30, 30);
  font-size: 100px;
  text-shadow: rgb(5, 5, 5) -1px 1px 3px, rgb(190, 190, 190) 1px -1px 3px;
  text-align: center;

} */

/*Позиціонування елементів*/
blockquote.posit {
  height: 200px;
}

.posit-a {
  position: absolute;
  left: 100px;
  top: 50px;
  right: 50px;
  bottom: 50px;
}

@media (max-width:767px) {
  .posit-a span {
    display: none;
  }
}

@media (max-width:550px) {

  .posit-text,
  .posit {
    display: none;
  }
}

/* Відступи */
.bord {
  height: auto;
}

.sol {
  border: solid;
}

.dash {
  border: dashed red;
}

.remsol {
  border: 1rem solid;
}

.th-double {
  border: thick double #32a1ce;
}

.b-rgba {
  border: 4mm ridge rgba(170, 50, 220, 0.6);
}

.borderElement {
  background-color: #eeddff;
  border: 6px solid #7922cc;
  border-radius: 25px;
  padding: 15px;
}

.borderElyps {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  height: 200px;
  background-color: #eeddff;
  border: 3px solid #f7b3b3;
  border-radius: 200px/100px;
}

/* Колір фона */
.fonbody {
  background-color: #3366cc;
}

.fontext {
  background-color: RGB(249, 201, 16);
}

.backimg {
  width: 80%;
}

.box-sh1 {
  width: 360px;
  border: 3px solid #787878;
  box-shadow: 10px 5px 5px red;
  margin-bottom: 35px;
}

.box-sh2 {
  width: 460px;
  border: 1px solid #787878;
  box-shadow: 60px -16px teal;
  margin-bottom: 35px;
}

.box-sh3 {
  width: 560px;
  border: 3px solid #787878;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin-bottom: 35px;
}

.box-sh4 {
  width: 660px;
  border: 3px solid #787878;
  box-shadow: inset 5em 1em gold;
  margin-bottom: 35px;
}

.box-sh5 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
  width: 500px;
  border-radius: 50%;
  box-shadow: inset 0.3em 0.3em 0.9em black;
}

/*Розміри*/
.heig {
  height: auto;
  border: 1px solid black;
}

.b {
  display: inline-block;
  height: 50px;
  border: 1px solid black;
}

.wid-a {
  width: auto;
  border: 1px solid black;
}

.wid-b {
  width: 150px;
  border: 1px solid black;
}

.wid-c {
  width: 50%;
  border: 1px solid black;
}

/*Псевдокласи*/
.mate:link {
  color: red;
}

.mate:visited {
  color: purple;
}

.mate:hover {
  color: hotpink;
}

.mate:active {
  color: blue;
}

.mate:focus {
  border: 1px solid yellow;
}

input:checked {
  height: 50px;
  width: 50px;
}

#news1:target {
  color: red;
}

#news2:target {
  border: 1px solid yellow;
  background-color: green;
}

/* Додаткові псевдокласи */

.chil>p:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

.chil>p:nth-child(2) {
  background: red;
}

.chil>p:nth-last-child(4) {
  background: blue;
}

.chil>p:last-child {
  font-style: italic;
  font-size: 0.8em;
}

tr:nth-child(odd) {
  background-color: #a2ded0;
}

tr:nth-child(even) {
  background-color: rgb(204, 80, 42);
}

.chil>span:only-of-type {
  text-decoration: underline;
  color: green;
}

/* Псевдоелементи */

p.psevdo::after {
  content: " - Вітаю!";
  color: green;
}

blockquote::before {
  content: "!";
  position: absolute;
  left: -15px;
  font: 48px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #fff;
  top: 50%;
  margin-top: -30px;
}

/* Code for Firefox */
.sel h4::-moz-selection,
.sel p::-moz-selection,
.sel div::-moz-selection {
  color: red;
  background: yellow;
}

.sel h4::selection {
  color: red;
  background: yellow;
}

.fir-let p::first-letter {
  font-size: 200%;
  color: #8a2be2;
}

.fir-let p:nth-child(1)::first-line {
  background-color: yellow;
  font-style: italic;
  font-weight: bold;
}

/*Анімація*/
.trans {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  padding: 10px 10px;
}

.trans:hover {
  width: 300px;
}

footer {
  background-color: rgb(190, 185, 185);
}

footer p {
  text-align: center;
}

/* стилі для бургер-меню */
.menu__btn {
  display: none;
}

@media (max-width:960px) {
  .menu {
    order: 1;
  }

  .menu__list {
    display: block;
    position: absolute;
    left: 0;
    background-color: #4c4b4b00;
    text-align: center;
    padding: 20px 0;
    transform: translateY(-500px);
    transition: all .5s;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
    top: 62px;
  }

  .menu__list-link {
    padding: 20px 0;
    display: block;
    border-bottom: none;
  }

  .menu__list-link:hover {
    border-bottom: none;
  }

  .menu__btn {
    display: block;
    cursor: pointer;
    width: 35px;
    height: 24px;
    border: none;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    position: relative;
  }

  .menu__btn::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000000;
    left: 0;
    top: 9px;
    margin-bottom: 20px;

  }
}

/* Media */
@media only screen and (max-width: 840px) {
  .grid3 {
    -webkit-box-flex: 0;
    flex-basis: var(--grid-2);
  }

  .grid3:nth-child(3) {
    -webkit-box-flex: 0;
    flex-basis: var(--grid-1);
    margin-top: 45px;
  }
}

/* tablet */
@media only screen and (max-width: 767px) {
  .tabl.grid4 {
    width: calc((100% - 5px) / 2);
  }

  .tabl.grid2,
  .tabl.grid3 {
    width: calc(100% - 5px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tabl.grid5:nth-last-of-type(1),
  .tabl.grid3:nth-last-of-type(1),
  .tabl.grid7:nth-last-of-type(1),
  .tabl.grid9:nth-last-of-type(1),
  .tabl.grid11:nth-last-of-type(1) {
    width: calc(100% - 5px);
  }
}

/* Mobile */
@media only screen and (max-width: 640px) {
  .mob.grid {
    width: calc(100% - 5px);
  }

  .row {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 500px) {
  .tabl.grid3 {
    width: calc(100% - 5px);
  }

  .row {
    flex-wrap: wrap;
  }
}

/* -------------------------------
===========з використанням Bootstrap 
/* =========Typography | Global========= */

/* :root {
  /* body font size 
  --text-base-size: 1em;
  /* type scale 
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
}

@media (min-width: 64rem) {

  /* responsive decision applied to all text elements 
  :root {
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }
}

h1,
.text-xxl {
  font-size: var(--text-xxl, 2.074em);
}

h2,
.text-xl {
  font-size: var(--text-xl, 1.728em);
}

h3,
.text-lg {
  font-size: var(--text-lg, 1.44em);
}

h4,
.text-md {
  font-size: var(--text-md, 1.2em);
}

.text-base {
  font-size: 1em;
}

small,
.text-sm {
  font-size: var(--text-sm, 0.833em);
}

.text-xs {
  font-size: var(--text-xs, 0.694em);
} 

===========================================
Адаптивні модифікатори для різних розмірів столбців,
зміщення,вирівнювання і розподілення по ширині області перегляду 
xs (max-width:1140px),
sm (max-width:540px),
md (max-width:720px) ,
lg (max-width:960px).

//Сместить столбец //
<div class="row"> 
  <div class="col-xs-offset-3 col-xs-9"> 
    <div class="box">offset</div> 
  </div> 
</div>

//Добавьте любое количество столбцов автоматического определения размера в строку//
<div class="row">
  <div class="col-xs"> 
    <div class="box">auto</div>
  </div> 
</div>

//Вкладеність блоків //
<div class="row"> 
  <div class="col-xs">
    <div class="box">
      <div class="row">
        <div class="col-xs"> 
          <div class="box">auto</div> 
        </div> 
      </div> 
    </div> 
  </div> 
</div>

//Додайте класи для вирівнювання елементів на початку або в кінці рядка, а також у верхній, нижній частині чи в центрі стовпця //
 <div class="row start-xs">
  <div class="col-xs-6"> 
  <div class="box"> start </div> 
  </div> 
</div>

<div class="row center-xs">
  <div class="col-xs-6">
    <div class="box">start </div>
  </div>
</div>

<div class="row end-xs">
<div class="col-xs-6">
<div class="box">end </div>
</div>
</div>

//Ось приклад використання модифікаторів спільно для досягнення різного вирівнювання при різних розмірах вікна перегляду.
 <div class="row center-xs end-sm start-lg">
 <div class="col-xs-6">
 <div class="box">All together now </div>
 </div>
 </div>

 <div class="row top-xs">
 <div class="col-xs-6">
 <div class="box">top </div>
 </div>
 </div>

 <div class="row middle-xs">
 <div class="col-xs-6">
 <div class="box">center </div>
 </div>
 </div>

 <div class="row bottom-xs">
 <div class="col-xs-6">
 <div class="box">bottom </div>
 </div>
 </div>

 Додайте класи для розподілу вмісту рядка чи стовпця. //
 <div class="row around-xs">
  <div class="col-xs-2">
    <div class="box">around </div>
  </div>
  <div class="col-xs-2">
    <div class="box">around </div>
  </div>
    <div class="col-xs-2">
      <div class="box">around </div>
    </div>
 </div>

 <div class="row between-xs"><div class="col-xs-2"><div class="box">between </div></div><div class="col-xs-2"><div class="box">between </div></div><div class="col-xs-2"><div class="box">between </div></div></div>

 //Додайте класи для упорядкування стовпців.//
 <div class="row">
    <div class="col-xs-2">
      <div class="box">1 </div>
    </div>
    <div class="col-xs-2">
      <div class="box">2 </div>
    </div>
    <div class="col-xs-2 first-xs">
      <div class="box">3 </div>
    </div>
 </div>

 <div class="row"><div class="col-xs-2 last-xs"><div class="box">1 </div></div><div class="col-xs-2"><div class="box">2 </div></div><div class="col-xs-2"><div class="box">3 </div></div></div>

 //Reversing//
 <div class="row reverse">
 <div class="col-xs-2">
 <div class="box">1 </div>
 </div>
 <div class="col-xs-2">
 <div class="box">2 </div>
 </div>
 <div class="col-xs-2">
 <div class="box">3 </div>
 </div>
 </div>